<div class="hero">
  <div class="logo-hero text-center">
    <a href="{{site.baseurl}}/">
      <img src="{{site.baseurl}}/assets/images/logo_ico.svg" alt="">
    </a>
    <h1>GDG Devfest Brasília 2017</h1>
    <p>02 de Dezembro, 2017 - 09h30 às 17h30</p>
    <a href="https://www.sympla.com.br/devfest-brasilia-2017__219184" class="btn btn-primary">Comprar Ingresso</a>
    <span>
      Qualquer coisa, pode pagar no credenciamento do evento (R$ 10,00). <br>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSffP2b5o5S0YLVTripKBaMZz9cL3wmG6Db9K_piFrqNxXW4mQ/viewform?usp=sf_link" target="_blank">Só preencher esse formulário.</a>
    </span>
  </div>
</div>
<!-- 
O GDG Devfest é um evento de grande porte que pode oferecer sessões de alto-falante em várias áreas de produtos, hack-a-thons,
codelabs e muito mais. -->
